
.menu-body {
  width: 100%;
}

.menu-header {
  text-align: left;
  padding: 0 20px;

  .menu-header-title {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
}

.header-menu {
  background-color: #faf6f6 !important;
  border: 0 !important;
}
